#page-study #container {
    width: 100vw;
    height: 100vh;
}

.page-header {
    background-color: var(--color-primary);
    display: flex;/*dispoe os elementos em linha*/
    flex-direction: column;/*dispoe os elementos que estavam em linha para disposição em colunas*/
}

.page-header .top-bar-container {
    width: 90%;
    margin: 0 auto;/*em cima e em baixo 0 e auto nas laterais*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 0;/*1.6rem em cima e em baixo e o nas laterais*/
}

.page-header .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover {
    opacity: 0.6;
}

.page-header .top-bar-container img {
    height: 1.6rem;
}

.page-header .header-content {
    width: 90%;
    margin: 3.2rem auto;
}

.page-header .header-content strong {
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
}

#search-teachers {
    margin-top: 3.2rem;
}

#search-teachers label {
    color: var(--color-text-in-primary);
}

#search-teachers .select-block {
    margin-bottom: 1.4rem;
}

#search-teachers button {
    width: 100%;
    height: 5.6rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: background 0.2s;
    margin-top: 3.2rem;
}

#search-teachers button:hover {
    background-color: var(--color-secondary-dark);
}

.select-block label,
.input-block label {
    font-size:1.4rem;
}

.input-block input,
.select-block select
{
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    background: var(--color-input-background);
    border: 1px solid var(--color-line-in-white);
    outline: 0;/*cor que aparece quando um item é clicado na seleção*/
    padding: 0 1.6rem;
    font: Archivo 1.6rem;
}

.input-block {
    position: relative;
}
.input-block:focus-within::after {
    /*:after é um elemento que o CSS vai criar no memomento que um input estiver em FOCO*/
    content: "";/*O CONTENT:""; É OBRIGATÓRIO!!! essa linha tem de ser introduzida para que o elemento :after nao esteja vazio no html*/
    width: calc(100% - 3.2rem);
    height: 2px;
    background: var(--color-primary-light);
    /*Position: absolute | necessario definir todas as posições dos elementos em relação a pagina*/
    position: absolute;
    left: 1.6rem;
    /*right: 1.6rem; | nao é necessario adicionar o right por que em width calc ja foi calculado o tamanho no espaco do input*/
    bottom: 0;
}

